/* CSS files add styling rules to your content */

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  margin: 2em;
  overflow-wrap: break-word;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.github-icon {
  fill: #151513;
  color: #fff;
}

#chart_div {
  height: 550px;
}

@media (prefers-color-scheme: dark) {
  h1 {
    color: #5bf;
  }

  body {
    color: #ccc;
    background: black;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }

  .github-icon {
    fill: #fff;
    color: #151513;
  }

  #chart_div {
    background-color: #eee;
  }
}

/* GitHub Corner */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
